/* 
Autor:Fernando Alonso Fernandez Martinez
Descripcion:Componente los datos de formulario
Fecha:12 de Octubre
 */
.Formulario{
    color: darkviolet;
    font-family: Cooper Black;
}

.titulo {
    color: burlywood;
    font-family: Bradley Hand ITC;
}